input[type=text],
        input[type=number],
        input[type=password] {
            width: 100%;
            margin-bottom: 20px;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        label {
            margin-bottom: 5px;
            display: block;
        }

        .icon-container {
            margin-bottom: 20px;
            padding: 7px 0;
            font-size: 24px;
        }

        .btn {
            color: white;
            padding: 12px;
            margin: 10px 0;
            border: none;
            width: 100%;
            border-radius: 3px;
            cursor: pointer;
            font-size: 17px;
        }

        a {
            color: #2196F3;
        }

        hr {
            border: 1px solid lightgrey;
        }

        .error {
            color: #FF0000;
        }

        form{
          margin: 0 100px;
        }
        
        h2{
            margin: 50px;
        }
        .formb{
           
          border-radius: 5px;
          background-color: #f2f2f2;
          padding: 20px;
        }

        .submit-button {
  margin-top: 10px;
}